<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ng-repeat</title>
    <script src="/testAngularJS/app/bower_components/angular/angular.min.js"></script>
    <script src="/testAngularJS/app/bower_components/jquery/dist/jquery.min.js"></script>
    <script>
        var app = angular.module('myApp', []);
        // 配置app
        app.config(function ($rootScopeProvider) {
            $rootScopeProvider.digestTtl(15);
        });
        app.controller('myCtrl', myCtrl);
        // 注入依赖
        myCtrl.$inject = ['$scope'];
        function myCtrl($scope) {
            $scope.arrs = [1, 2, 5, 7, 2];
            $scope.students = [
                {name: '小明', age: 18, course: '数学'},
                {name: '小黑', age: 8, course: '语文'},
                {name: '小白', age: 28, course: '英语'}];
            $scope.fiterList = ['name', 'age'];
            $scope.filterColumn = function (column) {
                // $.inArray()方法判断数组是否包含指定元素
                if ($scope.fiterList.length > 0) {
                    if ($.inArray(column, $scope.fiterList) === -1) {
                        return false;
                    }
                }
                return true;
            };
            var obj = {name: '小明', age: 18, course: '数学'};
            // 将对象转换成数组后，便可以进行排序
            $scope.objToArray = function (obj) {
                var arr = [];
                // angular的forEach方法和jquery的each方法遍历对象参数列表一致
                $.each(obj, function (i, n) {
                    arr.push({key: i, value: n});
                });
                return arr;
            };
            /*$.each($scope.students, function (i,n) {
             $.each($scope.objToArray(n), function (a,b) {
             console.log(b.key + '-' +b.value);
             });
             });*/
            $scope.isEmptyArray = function (arr) {
                if (arr != null && arr != undefined && arr.length > 0) {
                    return false;
                }
                return true;
            };
            // 获取对象数组中某个属性的数组
            $scope.attrMapList = function (list, attr) {
                return $.map(list, function (data) {
                    return data[attr];
                })
            };
            console.log($scope.attrMapList($scope.students, 'name'));
            // push方法返回的是数组的长度
            console.log($scope.students.push({name: '小红', age: 20, course: '物理'}));
        }
    </script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
<!-- AngularJS中不允许数组中存在相同的对象或数据，因为angular需要一个唯一值可以与生成的dom绑定，以便追踪
     所以可以使用track by语法指定对象的一个不会重复属性作为唯一id，如果是数组那么只能使用系统索引$index作为唯一id -->
<div ng-repeat="arr in arrs track by $index">
    {{arr + ',' + $index}}
</div>
<table border="1px">
    <thead>
    <th>年龄</th>
    <th>姓名</th>
    </thead>
    <tbody>
    <tr ng-repeat="stu in students track by $index">
        <!-- 集合数组中的元素x,y可以在当前html元素内的任何地方使用 -->
        <!-- 这样循环实现就不要再判断字段是否在数组中，并且可以让属性按照规定的数组顺序排序 -->
        <td ng-repeat="x in fiterList">
            <span ng-switch="x">
                <span ng-switch-when="name">
                    <!-- 通过stu[x]直接访问名称为x的属性值,相当于把x当作索引key；也可以定一个方法通过遍历对象求出名称为x的属性值 -->
                    <a href="">{{stu[x]}}</a>
                </span>
                <span ng-switch-when="date">
                    {{stu[x] | date:"yyyy-MM-dd HH:mm:ss"}}
                </span>
                <span ng-switch-default>
                    {{stu[x]}}
                </span>
            </span>
        </td>
        <!--<td ng-repeat="x in objToArray(stu)" ng-if="filterColumn(x.key)">
            &lt;!&ndash; 有其他条件可以继续加 &ndash;&gt;
               <span ng-switch="x.key">
                   <span ng-switch-when="name">
                       <a href="">{{x.value}}</a>
                   </span>
                   <span ng-switch-when="date">
                       {{x.value | date:"yyyy-MM-dd HH:mm:ss"}}
                   </span>
                   <span ng-switch-default>
                       {{x.value}}
                   </span>
               </span>
        </td>-->
    </tr>
    </tbody>
</table>
<p>{{filterColumn('age')}}</p>
</body>
</html>