<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/testAngularJS/app/bower_components/angular/angular.min.js"></script>
    <script src="/testAngularJS/app/bower_components/ngstorage/ngStorage.js"></script>
    <script src="/testAngularJS/app/bower_components/lodash/lodash.js"></script>
    <script src="/testAngularJS/app/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script>
        var app = angular.module("myApp", []);
        app.controller('myCtrl', function ($scope) {
            var vm = $scope;
            vm.sum = 1;
            // 当input表单是number类型时不输入值返回null，当为text类型不输入则返回空字符串‘’
            vm.check = function () {
                console.log(vm.sum);
            }
        });
    </script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
<fieldset ng-repeat="x in [1,2]" class="wrapper wrapper-content animated fadeInRight">
    <legend>x</legend>
    456
</fieldset>
<div class="row">
    <div class="col-lg-12">
        qweqr
    </div>
    <input type="text" ng-model="sum" ng-change="check()">
</div>
</body>
</html>