<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ng-repeat</title>
    <script src="/testAngularJS/app/bower_components/angular/angular.min.js"></script>
    <script src="/testAngularJS/app/bower_components/jquery/dist/jquery.min.js"></script>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {
            $scope.arrs = [1, 2, 5, 7, 2];
            $scope.students = [
                {name: '小明', age: 18, course: '数学'},
                {name: '小黑', age: 8, course: '语文'},
                {name: '小白', age: 28, course: '英语'}];
            $scope.fiterList = ['name', 'age'];
            $scope.filterColumn = function (column) {
                // $.inArray()方法判断数组是否包含指定元素
                if ($scope.fiterList.length > 0) {
                    if ($.inArray(column, $scope.fiterList) === -1) {
                        return false;
                    }
                }
                return true;
            }
            var obj = {name: '小明', age: 18, course: '数学'};
            console.log(angular.toJson(obj));
        });
    </script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
<!-- AngularJS中不允许数组中存在相同的对象或数据，因为angular需要一个唯一值可以与生成的dom绑定，以便追踪
     所以可以使用track by语法指定对象的一个不会重复属性作为唯一id，如果是数组那么只能使用系统索引$index作为唯一id -->
<div ng-repeat="arr in arrs track by $index">
    {{arr + ',' + $index}}
</div>
<table>
    <thead>
    <th>姓名</th>
    <th>年龄</th>
    </thead>
    <tbody>
    <tr ng-repeat="stu in students track by $index">
        <!-- 集合数组中的元素x,y可以在当前html元素内的任何地方使用 -->
        <td ng-repeat="(x,y) in stu" ng-if="filterColumn(x)">
            <!--<a href="" ng-if="x=='name'">{{y}}</a>
            <span ng-if="x!='name'">{{y}}</span>-->
            <!-- 有其他条件可以继续加 -->
            <span ng-switch="x">
                <span ng-switch-when="name">
                    <a href="">{{y}}</a>
                </span>
                <span ng-switch-when="date">
                    {{y | date:"yyyy-MM-dd HH:mm:ss"}}
                </span>
                <span ng-switch-default>
                    {{y}}
                </span>
            </span>
        </td>
    </tr>
    </tbody>
</table>
<p>{{filterColumn('age')}}</p>
</body>
</html>