<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/testAngularJS/app/bower_components/angular/angular.min.js"></script>
    <script src="/testAngularJS/app/bower_components/ngstorage/ngStorage.js"></script>
    <script src="/testAngularJS/app/bower_components/lodash/lodash.js"></script>
    <script>
        // 使用外部模块和服务时必须先将模块注入自定义模块，然后再将依赖服务注入控制器
        var app = angular.module("myApp", ['ngStorage']);
        app.controller('myCtrl', function ($scope, $localStorage) {
            var list = [1, 3, 4, 5, 7, 8, 2];
            console.log(list.indexOf(0));// 判断js数组集合中是否包含某个元素
            $scope.students = [{name: '小明', age: 18, course: '数学'},
                {name: '小黑', age: 8, course: '语文'},
                {name: '小白', age: 28, course: '英语'}];
            // ng-model的值是和ng-options中as前面的值对应的，只有ng-model是students中age里的值时才会显示对应name，并且两者是绑定的
            $scope.selected = 18;
            $scope.ccc = parseInt('s');
            var aaa;
            var bbb;
            if (!aaa) {
                console.log(bbb);
            }
            console.log($localStorage.name);// 存储在本地未声明时值是undefined
            var ddd;// 而在js中未声明时会报undefined异常
            console.log(ddd);
            $localStorage.columnTimestamp = $localStorage.columnTimestamp || [];
            console.log('--------------');
            console.log($localStorage.columnTimestamp[0]);
            console.log('--------------');
            var reg = /^\w*中国$/;
            console.log(reg.test('sd中国'));

            function mapToList(map) {
                var arr = [];
                _.forEach(map, function (value, key) {
                    _.forEach(value, function (n) {
                        arr.push(n);
                    });
                });
                return arr;
            }

            function objToList(obj) {
                var arr = [];
                _.forEach(obj, function (value, key) {
                    arr.push({key: key, value: value});
                });
                return arr;
            }

            $scope.studentsMap = {
                stus1: [{name: '小明', age: 18, course: '数学'},
                    {name: '小黑', age: 8, course: '语文'}], stus2: [{name: '小白', age: 28, course: '英语'}]
            };
            // angular中这样经过函数处理过其中的数据仍然是绑定的，只要在$scope中，不管方法怎么处理都是绑定的，应该其中的内容都是对象，在所指向的内存地址是不变的
            $scope.studentsList = mapToList($scope.studentsMap);
            $scope.studentsMaps = objToList($scope.studentsMap);
            $scope.myFunc = function (){
                return "呵呵哒";// {{}}中是可以直接调用作用域的方法的
            }
        });

    </script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
<p>testPush</p>
<!-- 只允许输入数字，不用写正则，自带验证，正则使用ng-pattern指令即可 -->
<input type="number">
<select ng-model="selected" ng-options="x.age as x.name for x in students"></select>
<input type="hidden">
{{ccc == NaN}}
<input ng-model="studentsMap.stus2[0].age">
<input ng-model="studentsMaps[1].value[0].age">
<input ng-model="studentsList[2].age">
<span>{{myFunc()}}</span>
</body>
</html>
